body {
  background: linear-gradient(0deg, #461d90 0%, #333 99%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.tarjeta {
  width: 350px;
  height: 250px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  position: relative;
}

.tarjeta input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}


.btn-enviar {
  outline: 0px solid #ffffff;
  transition: outline 1s ease 0s;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 0px;
}

.btn-enviar:hover {
  outline: 6px solid #461d90 ;
  color: white;
  cursor: pointer;
  border: 0.5px solid #461d90;
  animation: ease 0.5s;
}

